{% extends 'mainapp/base.html' %}
{% load static %}
{% block menu %}
		<div class="slider" style="bgcolor='ffffff'">>
			<div class="header clearfix" ">
				{% include 'mainapp/includes/inc_main_menu.html'%}

			</div>
			<div style="margin-top: 100px">
				<img src="{% static 'img/loading-25.gif' %}" height="20%", width="20%"></a><br><br><br>
<!--				<img src="{% static 'img/loader.gif' %}" height="30%", width="30%"></a><br><br><br>-->
				<h3 class="green">Результат будет готов через несколько минут.</h3>
				<h3 class="big"> ожидание парсера</h3>
				<p>Вы будете перенаправлены, когда программа завершит выполнение...</p>
				<a href="{%	url 'test_parce_rdy' %}" class="button-order"> Почти готово...</a>
<!--				<a href="http://127.0.0.1:8000/export" class="button-order"> Скачать csv<img src="{% static 'img/arrow.png' %}" alt=""></a>-->
			</div>

<!--			<div class="navi">-->
<!--				<a href="#"></a><a href="#"></a><a href="#"></a>-->
<!--			</div>-->
		</div>
{% endblock %}

{% block content %}
	<br>
	<p class="small"> Current date and time: {% now 'H:i:s d-m-Y' %}</p>

	<p class="small"> {{ my_name_is.2 }}</p>
	<br>



<!--	<div class="featured">-->
<!--		<div class="featured-menu">-->
<!--				<a class="active" href="#">Популярные</a><a href="#">Новинки</a>-->
<!--		</div>-->
<!--		<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>-->
<!--		<div class="clearfix">-->
<!--		</div>-->
<!--		<div class="tab-content">-->
<!--			{% for product in products %}-->
<!--				<div class="block">-->
<!--					<a href="#"><img src="{% if product.image %}/media/{{ product.image }}{% else %}{% static 'img/product-3.jpg'%} {% endif %}" alt="">-->
<!--						<div class="text">-->
<!--							<img src="{% static 'img/icon-hover.png' %}" alt="">-->
<!--							<h4>{{ product.name }}</h4>-->
<!--							<p>{{ product.short_desc }}</p>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			{% endfor %}-->
<!--		</div>-->
<!--	</div>-->
{% endblock %}
